<a href="https://colab.research.google.com/github/kvraagul/Pyspark/blob/main/Pyspark_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 73kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 20.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=5e8576d98b8743a16be24332b69b908f488b9edf262ccf066a7cebe64a76844d
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Pyspark Tutorial').getOrCreate()
spark

In [4]:
df = spark.read.csv('NullData.csv',header=True,inferSchema=True)
df.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [22]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Purchased: string (nullable = true)

# Dealing with Null Values

## Drop

In [5]:
df_1 = df.na.drop()
df_1.show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

**how='any'**

* It will drop the entire row if one value is null value.

* By default how='any'

In [6]:
df_2 = df.na.drop(how='any')
df_2.show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

**how='all'**

* It will drop the null values only if entire row contains null value

In [7]:
df_3 = df.na.drop(how='all')
df_3.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

**Threshold value**
*  For example 

 if the threshold value is 2 it means that the row must contain 2 non-null value , 

 if the threshold value is 1 it means that the row must contain 1 non-null value

In [8]:
df_4 = df.na.drop(how='any',thresh=2)
df_4.show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
|Germany|  40|  null|      Yes|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [9]:
df_5 = df.na.drop(thresh=4)
df_5.show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

**Subset**

* In subset only particular mentioned column null values get dropped

In [10]:
df_6 = df.na.drop(subset=['Salary']).show()

+-------+----+------+---------+
|Country| Age|Salary|Purchased|
+-------+----+------+---------+
| France|  44| 72000|       No|
|  Spain|  27| 48000|      Yes|
|Germany|  30| 54000|       No|
|  Spain|  38| 61000|       No|
| France|  35| 58000|      Yes|
|  Spain|null| 52000|       No|
| France|  48| 79000|      Yes|
|Germany|  50| 83000|       No|
| France|  37| 67000|      Yes|
+-------+----+------+---------+

In [11]:
df_7 = df.na.drop(subset=['Age']).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
|Germany| 40|  null|      Yes|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

## Imputer

In [12]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Salary']]
    ).setStrategy("median")

In [13]:
df_imp = imputer.fit(df).transform(df).show()

+-------+----+------+---------+-----------+--------------+
|Country| Age|Salary|Purchased|Age_imputed|Salary_imputed|
+-------+----+------+---------+-----------+--------------+
| France|  44| 72000|       No|         44|         72000|
|  Spain|  27| 48000|      Yes|         27|         48000|
|Germany|  30| 54000|       No|         30|         54000|
|  Spain|  38| 61000|       No|         38|         61000|
|Germany|  40|  null|      Yes|         40|         61000|
| France|  35| 58000|      Yes|         35|         58000|
|  Spain|null| 52000|       No|         38|         52000|
| France|  48| 79000|      Yes|         48|         79000|
|Germany|  50| 83000|       No|         50|         83000|
| France|  37| 67000|      Yes|         37|         67000|
+-------+----+------+---------+-----------+--------------+

# Filter Operations

## <= and >= operation

Salary of the people less than or equal to 60000

In [14]:
df_1.filter('Salary<=60000').show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
| France| 35| 58000|      Yes|
+-------+---+------+---------+

In [15]:
df_1.filter(df['Salary']<=60000).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
| France| 35| 58000|      Yes|
+-------+---+------+---------+

In [16]:
df_1.filter('Salary<=60000').select(['Age','Purchased']).show()

+---+---------+
|Age|Purchased|
+---+---------+
| 27|      Yes|
| 30|       No|
| 35|      Yes|
+---+---------+

Salary of the people greater than or equal to 60000

In [17]:
df_1.filter('Salary>=60000').show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 38| 61000|       No|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

In [18]:
df_1.filter('Salary>=60000').select(['Age','Purchased']).show()

+---+---------+
|Age|Purchased|
+---+---------+
| 44|       No|
| 38|       No|
| 48|      Yes|
| 50|       No|
| 37|      Yes|
+---+---------+

## & and | operation

In [19]:
df_1.filter((df['Salary']<= 60000) & (df['Age']>= 30)).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
|Germany| 30| 54000|       No|
| France| 35| 58000|      Yes|
+-------+---+------+---------+

In [20]:
df_1.filter((df['Salary']<= 60000) | (df['Age']>= 30)).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 27| 48000|      Yes|
|Germany| 30| 54000|       No|
|  Spain| 38| 61000|       No|
| France| 35| 58000|      Yes|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

## ~ operation (not operation)

In [21]:
df_1.filter(~(df['Salary']<=60000)).show()

+-------+---+------+---------+
|Country|Age|Salary|Purchased|
+-------+---+------+---------+
| France| 44| 72000|       No|
|  Spain| 38| 61000|       No|
| France| 48| 79000|      Yes|
|Germany| 50| 83000|       No|
| France| 37| 67000|      Yes|
+-------+---+------+---------+

# GroupBy Function

In [25]:
df.groupBy('Country').sum('Salary').show()

+-------+-----------+
|Country|sum(Salary)|
+-------+-----------+
|Germany|     137000|
| France|     276000|
|  Spain|     161000|
+-------+-----------+

In [27]:
df.groupBy('Country').mean().show()

+-------+--------+------------------+
|Country|avg(Age)|       avg(Salary)|
+-------+--------+------------------+
|Germany|    40.0|           68500.0|
| France|    41.0|           69000.0|
|  Spain|    32.5|53666.666666666664|
+-------+--------+------------------+

In [28]:
df.groupby('Country').count().show()

+-------+-----+
|Country|count|
+-------+-----+
|Germany|    3|
| France|    4|
|  Spain|    3|
+-------+-----+

# Aggregate Function

In [31]:
df.agg({'Salary':'mean'}).show()

+-----------------+
|      avg(Salary)|
+-----------------+
|63777.77777777778|
+-----------------+

In [32]:
df.groupBy('Country').agg({'Salary':'mean'}).show()

+-------+------------------+
|Country|       avg(Salary)|
+-------+------------------+
|Germany|           68500.0|
| France|           69000.0|
|  Spain|53666.666666666664|
+-------+------------------+